body {
  background: url("../images/RedPill.jpg");
  background-position: center; /*this may not be needed - found on w3 school*/

}
.container {
  max-width: 90%;
}
.header {
  background-color: rgb(19, 168, 31);
  color: white;
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-family: 'Libre Baskerville', serif;
  opacity: .85;
  box-shadow: 8px 4px 8px 8px rgb(66, 204, 31);

}
h1 {
  font-size: 40px;
}
.instructions {
  background-color: rgb(0, 0, 0);
  color: rgb(66, 204, 31);
  opacity: .85;
  text-align: left;
  margin: 20px;
  padding: 10px;
  box-shadow: 4px 4px 4px 3px rgb(66, 204, 31);
  font-family: 'Montserrat', sans-serif; /*Found on Google Fonts seen in header*/

}
h3 {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.third {
  margin: 20px;
  padding: 10px;
}
h2 {
  font-size: 24px;
}
#gameScore {
  background-color: #009900;
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 2px 2px 2px 10px rgb(66, 204, 31);

}
#winScore {
  background-color: #00ffff;
  color: black;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 2px 2px 2px 4px rgb(66, 204, 31);

}
#lossScore {
  background-color: #00ffff;
  color: black;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px 4px rgb(66, 204, 31);

}
.crystals {
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 4px rgb(66, 204, 31);

}
.btn {
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 2px 4px rgb(66, 204, 31);

}
#userScore {
  background-color: #29a3a3;
  color: white;
  margin: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 2px 4px rgb(66, 204, 31);

}